body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-image: url(../img/header.jpg);
  background-color: grey;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(94, 93, 88, 0.6);
  padding: 26px 380px 27px 380px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.logo__img {
  background-image: url("../img/logo.png");
  width: 58px;
  height: 67px;
  position: relative;
}

.logo__h {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  padding: 18px 0 0 13px;
}

.logo__the {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  padding-left: 6px;
}

.logo__ham {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #18cfab;
}

.header__menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__menu-link {
  margin-right: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  position: relative;
}

.header__menu-link:hover {
  color: #18cfab;
}

.header__menu-link:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  border: 2px solid #18cfab;
  left: 0;
  top: 65px;
}

.header__search {
  color: #b8b8b8;
}

.header__search:hover {
  color: #18cfab;
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.header__maintext-h1 {
  padding-top: 264px;
  font-size: 35px;
  font-weight: 700;
  line-height: 1px;
}

.header__maintext-green {
  color: #18cfab;
}

.header__maintext-big {
  font-weight: 700;
  font-size: 78px;
  margin: 22px 0 22px 0;
}

.header__maintext-small {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  line-height: 1px;
  padding-bottom: 130px;
}

.header__main-explore {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  background-color: #18cfab;
  padding: 16px 17px 16px 17px;
  border-top: 4px solid white;
  border-radius: 5px;
  margin-right: 26px;
}

.header__main-purchase {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  background-color: #00cbf6;
  padding: 16px 11px 16px 11px;
  border-top: 4px solid white;
  border-radius: 5px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 110px;
}

.advantages__item:nth-child(odd) {
  background-color: #1c2a33;
  border-top: 8px solid#fff;
  color: #18cfab;
}

.advantages__item:nth-child(even) {
  background-color: #18cfab;
  border-top: 8px solid #fff;
  color: #fff;
}

.advantages__img-1 {
  background-image: url(../img/advantages-1.png);
  width: 58px;
  height: 98px;
  margin-top: 95px;
  margin-bottom: 47px;
}

.advantages__img-2 {
  background-image: url(../img/advantages-2.png);
  width: 93px;
  height: 76px;
  margin-top: 106px;
  margin-bottom: 58px;
}

.advantages__img-3 {
  background-image: url(../img/advantages-3.png);
  width: 60px;
  height: 97px;
  margin-top: 95px;
  margin-bottom: 48px;
}

.advantages__img-4 {
  background-image: url(../img/advantages-4.png);
  width: 99px;
  height: 77px;
  margin-top: 105px;
  margin-bottom: 58px;
}

.section__header {
  font-size: 36px;
  padding: 83px 0 100px 0;
  color: #4e4e4e;
  text-align: center;
  position: relative;
}
.section__header:before {
  position: absolute;
  left: 50%;
  transform: translateX(-58%);
  top: 143px;
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
}
.section__header:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-42%);
  top: 146px;
  width: 78px;
  height: 1px;
  background-color: #18cfab;
}

.services__tabs {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 0;
}

.services__tabs-item {
  display: grid;
  background-color: #f8fcfe;
  border: 1px solid #edefef;
  padding: 20px 0 20px 0;
  font-size: 16px;
  color: #717171;
  justify-content: center;
  cursor: pointer;
}

.services__tabs-item.active {
  position: relative;
  background: #18cfab;
  color: white;
}

.services__tabs-item.active::after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -20px;
}

.services__tabs-item:hover {
  background-color: #18cfab;
  color: #ffffff;
}

.tabs__content-all {
  padding: 0 0 90px 0;
}

.tabs__content {
  display: none;
  font-weight: 300;
  font-size: 14px;
  padding-top: 7px;
  color: #777777;
}

.tabs__content.active {
  display: flex;
}

.tabs__img {
  padding: 15px 15px 0 0;
}

.tagline {
  background: url(../img/tagline.png) center/cover no-repeat;
  background-attachment: fixed;
}

.tagline .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 127px 0 127px 0;
}

.tagline__text-green {
  font-size: 40px;
  color: #18cfab;
  margin: 0;
  padding-bottom: 12px;
}

.tagline__text-grey {
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin: 0;
  padding-bottom: 62px;
}

.amazing {
  background: #e9edef;
}

.amazing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amazing__tabs {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 75%;
  padding-left: 0;
  margin: 0;
}

.amazing__tabs-item {
  display: grid;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  text-decoration: none;
  font-size: 14px;
  color: #717171;
  justify-content: center;
  padding: 14px 0 13px 0;
  cursor: pointer;
}

.amazing__tabs-item.active {
  border: 2px solid #18cfab;
  color: #18cfab;
}

.amazing__tabs-item:hover {
  border: 2px solid #18cfab;
  color: #18cfab;
}

.amazing__images-all {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 71px;
  padding-bottom: 70px;
}

.amazing__img {
  position: relative;
  width: 284px;
  height: 203px;
  display: none;
}
.amazing__img.active {
  display: block;
}
.amazing__creative {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #e9edef;
  width: 100%;
  height: 100%;
  border-top: 3px solid #18cfab;
}

.amazing__creative-svg {
  display: flex;
}

.amazing__img:hover .amazing__creative {
  display: flex;
}

.amazing__creative__cont {
  position: relative;
  margin: 0 1.5px;
}

.amazing__creative-svg1 {
  position: absolute;
  top: 13.5px;
  left: 14.5px;
}

.amazing__creative__cont:hover .amazing__creative-svg2 {
  fill: white;
}

.amazing__creative-svg3 {
  position: absolute;
  top: 15.5px;
  left: 15.5px;
}

.amazing__creative__cont:hover .amazing__creative-svg4 {
  fill: white;
}

.amazing__creative__cont:hover .amazing__creative-cyrcle {
  fill: #18cfab;
}

.amazing__creative-green {
  font-weight: bold;
  font-size: 14px;
  color: #18cfab;
  text-align: center;
}

.amazing__creative-grey {
  font-size: 12px;
  color: #8a8a8a;
  text-align: center;
}

.amazing__load {
  background-color: #18cfab;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  color: #ffffff;
  padding: 5px 15px 5px 40px;
  margin-bottom: 100px;
  border-radius: 5px;
  position: relative;
  border-width: 0px;
  cursor: pointer;
}

.amazing__load:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 17px;
  background-image: url("../img/amazing-plus.png");
  left: 16px;
  top: 16px;
}

.breaking__news {
  list-style-type: none;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 44px;
  padding-left: 0;
}

.breaking__item {
  position: relative;
}

.breaking__link {
  text-decoration: none;
}

.breaking__date {
  position: absolute;
  top: 0;
  right: 1px;
  background: #203e38;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  width: 51px;
  text-align: center;
  padding: 16px 6px 15px 6px;
}

.breaking__item:hover .breaking__date {
  background: #18cfab;
  color: #ffffff;
}

.breaking__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
  padding-left: 10px;
}

.breaking__item:hover .breaking__title {
  color: #18cfab;
}

.breaking__comment {
  font-size: 14px;
  line-height: 39px;
  color: #777777;
  margin: 0;
  padding-left: 10px;
}

.about {
  background: url(../img/what-people-say.png) center/cover no-repeat;
  background-attachment: fixed;
}

.about .section__header {
  color: white;
}

.about__content {
  padding: 0 0 60px 0;
  margin: 0;
}

.about__content-item {
  list-style-type: none;
  display: none;
  justify-items: center;
  position: relative;
}

.about__content-item.active {
  display: grid;
}

.animation {
  display: none;
}

@keyframes about-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation.active {
  animation: about-animation;
  animation-duration: 2s;
}

.about__ellipse {
  background-image: url("../img/about/ellipse.png");
  width: 164px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__ellipse-small {
  background-image: url("../img/about/ellipse-small.png");
  width: 69px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  text-align: center;
  padding-top: 88px;
}

.about__text::after {
  content: "";
  position: absolute;
  background-image: url("../img/about-text.png");
  width: 44px;
  height: 31px;
  left: 48%;
  top: 0px;
}

.about__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  margin: 0;
  padding-top: 37px;
}

.about__work {
  font-weight: 300;
  font-size: 12px;
  color: #bbbbbb;
  margin: 0;
  padding: 5px 0 38px 0;
}

.about__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 0;
  position: relative;
}

.about__tabs-item {
  list-style-type: none;
  padding: 0 30px 0 30px;
}

.about__tabs-item:hover,
.about__tabs-item.active {
  transform: translateY(-10px);
  transition: 0.5s;
}

#about__back,
#about__next {
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
}

#about__back:hover,
#about__next:hover {
  background-color: #18cfab;
}

.footer {
  background-color: #22353f;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  margin: -17px 0 0 0;
  padding: 48px 0 47px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
